
        .logo-1 {
            width: 100px;
            height: auto;
            padding-right: 180px;
        }
        .header {
            background-color: rgb(235, 199, 254);
            color:black;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
        }
        .left-section, .right-section {
            align-items: left;
            color: black;
            display: flex;
            justify-content: space-between;
            padding: 50px;
        
        }

        .counter-box {
        display: inline-block;
        background-color: white;
        border-radius: 10px;
        font-size: 16px;
        color: black;
        }

        .count {
        color: rgb(130, 28, 174);
        font-weight: bold;
        }
           
        .tagline {
            justify-content: center;
            font-size: 34px;
            font-weight: bold;
            color: rgb(76, 7, 106);
        }
        
        .each {
            font-size: 26px;
            padding-left: 20px;
        }
        .each:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .text-on-image {
            text-align: center;
            color: rgb(130, 28, 174);
            font-size: 70px;
        }

        .hero-section {
            background-image: url("images/man on laptop.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 730px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #f-button {
            background-color: rgb(238, 145, 185);
            justify-content: center;
            text-align: center;
            padding: 20px;
            border-radius: 20px;


        }
            .message-box {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(187, 81, 220);
            font-weight: bold;
            }


        .headline {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            padding: 20px;
            text-align: center;
            color:  rgb(130, 28, 174);
            font-size: 25px;

        }
        .text1 {
            line-height: 1.6;
        }
        .logo-image {
            width: 200px; 
            border-radius: 80px;
        }

        .hero {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
       
        .form-row {
        display: flex;
        gap: 1rem;
        }
        

        .carousel {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 20px;
            padding: 20px

        }
        .item {
            background-color: rgb(255, 248, 255);
            padding: 20px;
            border-radius: 20px;
            max-width: 700px;
            justify-content: center;

        }
        .item:hover {
            transform: scale(1.02);
        }
        .button {
            background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }
        .button:hover {
            background-color: rgb(235, 199, 254);
        }
        #button1 {
             background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }


           #message1 {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(134, 46, 161);
            font-weight: bold;
            }


             #button2 {
             background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }


           #message2 {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(134, 46, 161);
            font-weight: bold;
            }

             #button3 {
             background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }


           #message3 {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(134, 46, 161);
            font-weight: bold;
            }
             #button4 {
             background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }

        #message4 {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(134, 46, 161);
            font-weight: bold;
            }


        
           #message5 {
            margin-top: 20px;
            font-size: 18px;
            color: rgb(134, 46, 161);
            font-weight: bold;
            }
             #button5 {
             background-color: rgb(238, 145, 185);
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 50px;
            cursor: pointer;
            border: none;
            color: white;
        }


          
        .statistics {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 150px;
            padding: 20px;
        }
        .emoji {
            font-size: 40px;
            padding-bottom: 0;
        }
        .stat {
            font-size: 40px;
            font-weight: 500;
        }
        .text {
            font-size: 20px;
            text-align: center;
            margin-top: 0;
        }

        .bow {
            margin-top: 50px;
            font-size: 34px;
            text-align: center;
            background-color: rgb(249 239,255); 
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: rgb(130, 28, 174);
            
        }
        
        .title {
           text-align: center;
           font-size: 32px;
           margin-bottom: 0;
           padding-top: 70px;
        }

        .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }

        .testimonial {
            background-color: rgb(255, 248, 255);
            padding: 20px;
            border-radius: 20px;

        }
        
        
        .team-members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;


        }
        .member {
            max-width: 250px;
            display: flex;
            align-items: flex-start;
            background-color: rgb(255, 248, 255);
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
            margin: 16px;
            padding: 15px;

        }
        .member-info {
            padding-left: 20px;
            padding-right: 5px;;
        }
        .image {
            width: 50px;
        }


 



        .contact-form {
  background-color: rgb(249,239,255); 
  border-radius: 35px;
  padding: 40px;
  max-width: 500px;
  margin: auto;

}
.contact-form label {
  color: rgb(0, 0, 0); 
  font-size: 16px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid rgb(213,166,241); 
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 100px; 
}

.contact-form button {
  background-color: rgb(238, 145, 185); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.contact-form button:hover {
  background-color: rgb(235, 199, 254); 
}
